.background-image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
.card{
    margin-left: 14em;
    margin-right: 14em;
    margin-top: 4em;
  }
  .card-body{
    padding : 200px;
  }
  span{
    /* margin-left: 17em;
    margin-top: 40em; */
    color: cyan;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
   
  }
  h1{
    text-align: center;
  }
  .card-title{
    
    /* margin-top: 0.5em;
    margin-left: 27em; */
    font-size: 1rem;
    text-align: center;
    font-size: 1.6rem;
  }
  h5{
    font-weight: 700px;
    font-size: 2.5rem;
  }
  .card-body{
    width : 100%;
    padding : 1.5rem;
    font-size: 1.6rem;
    color: white;
    background : rgb(19, 21, 66);
    /* background: cyan; */
    border-radius: .8rem;
    /* margin: 7rem 7rem ; */
margin-top: 2px;
margin-bottom: 2px;
  }
  @media(max-width : 768px){
   .card {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 1px;
    font-weight: 30px;
   }
   .card-text{
    font-size: 15px;
   }
   .card-body .card-title{
    font-size: 25px;
   }

  }
 